#INPUT OPERATIONS
    input() [ Value will be considered as String ]

In [5]:
x = input()
print(x)
print(type(x))

[10,20,30]
[10,20,30]
<class 'str'>

#Taking Inputs of integer

In [28]:
'''
a = input("Enter Username: ")
b = input("Enter Password: ")
c = int(input("Enter Age: "))
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
'''
'''
c = int(input("enter a number: "))
print(c)
print(type(c))
'''
'''
a1,a2 = map(int,input().split())
print(a1+a2)
'''
'''
a1,a2,a3 = map(int,input().split("$"))
print(a1+a2+a3)
'''

10$20$30
60

#Taking inputs if float

In [37]:
'''
a = input()
a = float(a)
print(a)
print(type(a))
'''
'''
a1 = float(input())
print(a1)
print(type(a1))
'''
'''
a1,a2 = map(float,input().split())
print(a1)
print(a2)
print(a1+a2)
'''

10 45.67
10.0
45.67
55.67

#Taking inputs of list

In [41]:
'''
a = list(map(int,input().split()))
print(a)
print(type(a))
'''
'''
a1 = list(map(float,input().split()))
print(a1)
print(type(a1))
'''
'''
a2 = input().split()
print(a2)
print(type(a2))
'''

hello world
['hello', 'world']
<class 'list'>

#Taking inputs of Tuple

In [45]:
'''
a1 = tuple(map(int,input().split()))
print(a1)
print(type(a1))
'''
'''
a2 = tuple(map(float,input().split()))
print(a2)
print(type(a2))
'''
'''
a3 = tuple(input().split())
print(a3)
print(type(a3))
'''

hello world 10 n45 56
('hello', 'world', '10', 'n45', '56')
<class 'tuple'>

#Taking inputs of sets

In [50]:
'''
s1 = set(map(int,input().split()))
print(s1)
print(type(s1))
'''
'''
s2 = set(map(float,input().split()))
print(s2)
print(type(s2))
'''
'''
s3 = set(input().split())
print(s3)
print(type(s3))
'''

hello world True 45.67 78 45
{'hello', 'world', '45', '78', 'True', '45.67'}
<class 'set'>

#Taking inputs if dictionaries

In [67]:
'''
d = {}
a,b = map(int,input().split())
d[a] = b
a,b = map(int,input().split())
d[a] = b
a,b = map(int,input().split())
d[a] = b
a,b = map(int,input().split())
d[a] = b
print(d)
print(type(d))
'''
'''
keys = list(map(int,input().split()))
values = list(map(int,input().split()))
dict1 = zip(keys,values)
d1 = dict(dict1)
print(d1)
print(keys)
print(values)
'''
#Problem - 1
'''
n = int(input())
k = int(input())
print(k%n)
'''
#Problem - 2
'''
n = int(input())
k = int(input())
print(k//n)
'''
#Problem - 3
'''
n = int(input())
if n%2==0 and n>2:
  print("Yes")
else:
  print("No")
'''

2
No

#OUTPUT OPERATIONS
    print() [ Prints values given as a parameters ]
#Types of Output Operations
    1. Using Normal Method
    2. Using Modulo Operator
    3. Using F - Format
    4. Using Dot Format

#USING NORMAL METHOD

#USING MODULO OPERATOR
    %d - For Integers
    %f - For Floats
    %s - For Strings

#USING F - FORMAT

#USING DOT FORMAT