#INPUT OPERATIONS
    input() [ Value will be considered as String ]

In [ ]:
x = input()
print(x)
print(type(x))

[10,20,30]
[10,20,30]
<class 'str'>

#Taking Inputs of integer

In [ ]:
'''
a = input("Enter Username: ")
b = input("Enter Password: ")
c = int(input("Enter Age: "))
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
'''
'''
c = int(input("enter a number: "))
print(c)
print(type(c))
'''
'''
a1,a2 = map(int,input().split())
print(a1+a2)
'''
'''
a1,a2,a3 = map(int,input().split("$"))
print(a1+a2+a3)
'''

10$20$30
60

#Taking inputs if float

In [ ]:
'''
a = input()
a = float(a)
print(a)
print(type(a))
'''
'''
a1 = float(input())
print(a1)
print(type(a1))
'''
'''
a1,a2 = map(float,input().split())
print(a1)
print(a2)
print(a1+a2)
'''

10 45.67
10.0
45.67
55.67

#Taking inputs of list

In [ ]:
'''
a = list(map(int,input().split()))
print(a)
print(type(a))
'''
'''
a1 = list(map(float,input().split()))
print(a1)
print(type(a1))
'''
'''
a2 = input().split()
print(a2)
print(type(a2))
'''

hello world
['hello', 'world']
<class 'list'>

#Taking inputs of Tuple

In [ ]:
'''
a1 = tuple(map(int,input().split()))
print(a1)
print(type(a1))
'''
'''
a2 = tuple(map(float,input().split()))
print(a2)
print(type(a2))
'''
'''
a3 = tuple(input().split())
print(a3)
print(type(a3))
'''

hello world 10 n45 56
('hello', 'world', '10', 'n45', '56')
<class 'tuple'>

#Taking inputs of sets

In [ ]:
'''
s1 = set(map(int,input().split()))
print(s1)
print(type(s1))
'''
'''
s2 = set(map(float,input().split()))
print(s2)
print(type(s2))
'''
'''
s3 = set(input().split())
print(s3)
print(type(s3))
'''

hello world True 45.67 78 45
{'hello', 'world', '45', '78', 'True', '45.67'}
<class 'set'>

#Taking inputs if dictionaries

In [ ]:
'''
d = {}
a,b = map(int,input().split())
d[a] = b
a,b = map(int,input().split())
d[a] = b
a,b = map(int,input().split())
d[a] = b
a,b = map(int,input().split())
d[a] = b
print(d)
print(type(d))
'''
'''
keys = list(map(int,input().split()))
values = list(map(int,input().split()))
dict1 = zip(keys,values)
d1 = dict(dict1)
print(d1)
print(keys)
print(values)
'''
#Problem - 1
'''
n = int(input())
k = int(input())
print(k%n)
'''
#Problem - 2
'''
n = int(input())
k = int(input())
print(k//n)
'''
#Problem - 3
'''
n = int(input())
if n%2==0 and n>2:
  print("Yes")
else:
  print("No")
'''

2
No

#OUTPUT OPERATIONS
    print() [ Prints values given as a parameters ]
#Types of Output Operations
    1. Using Normal Method
    2. Using Modulo Operator
    3. Using F - Format
    4. Using Dot Format

In [3]:
print()
print(10,20)
print("Hello")

10 20
Hello

#USING NORMAL METHOD

In [7]:
name = input("Enter name: ")
age = int(input("Enter Age: "))
#The name is age years old
print("The",name,"is",age,"Years old")
#name: Age
print(name,":",age)

Enter name: codegnan
Enter Age: 6
The codegnan is 6 Years old
codegnan : 6

#USING MODULO OPERATOR
    %d - For Integers
    %f - For Floats
    %s - For Strings

In [19]:
name = "Codegnan"
#The name:Codegnan
print("The name: %s"%name)

age = 3
#The age: 3
print("The age: %d"%age)

pi = 3.14
#The pi: 3.140000
print("The pi: %f"%pi)

height = 5.3234
#The height: 5.32
print("The height: %.10f"%height)

print("The %s is %d years old, The height is %.3f"%(name,age,height))

The name: Codegnan
The age: 3
The pi: 3.140000
The height: 5.3234000000
The Codegnan is 3 years old, The height is 5.323

#USING F - FORMAT

In [28]:
name = "Codegnan"
age = 5
height = 6.56767
#The name: Codegnan
print(f"The name: {name}")

#The age: 5
print(f"The age: {age}")

#The height: 6.567
print(f"The height: {height}")

#The name: Codegnan, The age: 5, The height: 6.567
print(f"The name: {name}, The age: {age}, The height: {height:.2f}")

The name: Codegnan
The age: 5
The height: 6.56767
The name: Codegnan, The age: 5, The height: 6.57

In [47]:
a = 10
b = 20
print(f"The Result is {a+b}")

n1 = 6
print(f"{n1:3}")
n2 = 36
print(f"{n2:3}")
n3 = 367
print(f"{n3:3}")

n1 = 6
print(f"{n1:<3}")
n2 = 36
print(f"{n2:<3}")
n3 = 367
print(f"{n3:<3}")

n0 = 0
print(f"{n0:03}")
n1 = 6
print(f"{n1:03}")
n2 = 36
print(f"{n2:03}")
n3 = 367
print(f"{n3:03}")

The Result is 30
  6
 36
367
6
36
367
000
006
036
367

#USING DOT FORMAT

In [53]:
name = "Codegnan"
#The name: codegnan
print("The name: {}".format(name))

age = 5
#The Age: 5
print("The age: {}".format(age))

height = 6.789
#The height: 5.789
print("The height: {}".format(height))

print("The height: {:.1f}".format(height))

print("The {} is {} years old, Height is {}".format(name,age,height))

The name: Codegnan
The age: 5
The height: 6.789
The height: 6.8
The Codegnan is 5 years old, Height is 6.789

In [60]:
#{name}
print(f"{{name}}")

{name}

In [65]:
#pyhton class
print("python class")
print('python class')
#python's class
print("python's class")

x = """
Hello
How
are you
"""
print(x)

python class
python class
python's class

Hello
How
are you