#**CONTROL STATEMENTS**
    LoopsÂ are traditionally used when you have a block of code which we want to repeat a fixed number of times.
#**Types of Control Statements**
    While
    For
    Nested control Statements

#**WHILE LOOP**

#SYNTAX
    while condition:
        while statement 1
        while statement 2
        .
        .
        .

In [4]:
#Problem - 1
'''
x = 1
while x <= 10:
  print("Hello World")
  x = x + 1
'''
#Problem - 2
'''
x = 1
while x < 11:
  print(x)
  x = x +1
'''
#Problem - 3
'''
x = 10
while x>=1:
  print(x)
  x = x - 1
'''

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

#**FOR LOOP**

#SYNTAX
    for variable in sequence:
        for statement 1
        for statement 2
        .
        .
        .

In [16]:
#Problem - 1
'''
for i in range(10):
  print("Hello Codegnan")
'''
'''
for i in range(100,110):
  print("Hello world")
'''

#Problem - 2
#Approach - 1
'''
for i in range(10):
  print(i+1)
'''
#appraoch - 2
'''
for i in range(1,11):
  print(i)
'''
#Problem - 3
'''
for i in range(1,11,3):
  print(i)
'''

1
4
7
10

In [20]:
#Printing 1 - 174
'''
for x in range(100,175):
  print(x)
'''
'''
x = 100
while x < 175:
  print(x)
  x = x + 1
'''

TypeError: 'float' object cannot be interpreted as an integer

#**NESTED CONTROL STATEMENTS**

#Types:
    1. For in For
    2. For in while
    3. While in while
    4. For in for

#**LOOP CONTROLLED STATEMENTS**
    Break
    Continue
    Pass

In [33]:
#Break
'''
for i in range(10):
  if i == 5:
    break
  print("Hello")
  print(i)
  print("bye")
'''
#Continue
'''
for i in range(10):
  print("Hello")
  if i == 5:
    continue
  print(i)
  print("Bye")
print("Outside")
'''
#Pass
'''
for i in range(10):
  pass
'''

#**Clauses**
    Else with while
    Else with For

In [46]:
#for with else
'''
for i in range(5):
  if i==2:
    break
  print(i)
else:
  print("Ok")
'''
#while with else
'''
x = 1
while x <= 5:
  print(x)
  if x == 3:
    break
  x = x + 1
else:
  print("Hello")
'''

1
2
3

#**Accessing Elements of Lists**
    For With Range
    For Without Range

In [59]:
'''
x = [10,20,30,40,50]
for i in range(len(x)):
  print(x[i],i)
'''
'''
x = [10,20,30,40,50]
for i in x:
  print(i)
'''
'''
x = [100,200,300]
for i in x:
  print(i,end=",")
print()
print(*x,sep=",")
'''

100,200,300,
100,200,300

#**Accessing Elements of Tuple**
    For With Range
    For Without Range

#**Accessing Elements of Sets**
    For Without Range

#**Accessing Elements of Dictionary**
    For Without Range