#Frozen Sets
    1. A Frozen Set is an unordered collection data type that is iterable, immutable and has no duplicate elements.
    2. Frozen Set is majorly used to perform mathematical set operations like union,difference,intersection etc,..
    
    Operations on Frozen Sets:
        1. Creation
        2. Accessing

#Creation
    Creation of an Empty Frozen Set
    Creation of Frozen Set with Single Element
    Creation of Frozen Set with multiple Elements
    Creation of Frozen Set with user Inputs

In [6]:
s1 = frozenset()
print(s1)
print(type(s1))
s1 = frozenset([1])
print(s1)
print(type(s1))
s2 = frozenset([1,2,3,40,4,40,50])
print(s2)
print(type(s2))

frozenset()
<class 'frozenset'>
frozenset({1})
<class 'frozenset'>
frozenset({1, 2, 3, 4, 40, 50})
<class 'frozenset'>

#Accessing
    Looping
        For Loop without range
    Methods
        copy()

In [8]:
s1 = frozenset([10,20,30,40])
print(s1)
s2 = s1.copy()
print(s2)

frozenset({40, 10, 20, 30})
frozenset({40, 10, 20, 30})

#Built-in functions
    1. len()
    2. max()
    3. min()
    4. sum()
    5. sorted()

In [13]:
s1 = frozenset([1,2,3,4,5])
print(len(s1))
print(max(s1))
print(min(s1))
print(sum(s1))
print(sorted(s1))

5
5
1
15
[1, 2, 3, 4, 5]

#Mathematical set operations
    1. union()
        union() or  |
    2. intersection
        intersection() or &
    3. difference
        difference() or -
    4. symmetric difference
        symmetric_differnece() or ^
    5. isdisjoint()
    6. issubset()
    7. issuperset()

In [20]:
s1 = frozenset([1,2,3,4])
s2 = frozenset([3,4,5,6])
print(s1.union(s2))
print(s1.intersection(s2))
print(s2.intersection(s1))
print(s1.difference(s2))
print(s2.difference(s1))
print(s1.symmetric_difference(s2))
print(s2.symmetric_difference(s1))
s1 = frozenset([1,2,3])
s2 = frozenset([1,2,3,4,5])
print(s1.isdisjoint(s2))
print(s2.isdisjoint(s1))
print(s1.issubset(s2))
print(s2.issubset(s1))
print(s1.issuperset(s2))
print(s2.issuperset(s1))

frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({3, 4})
frozenset({1, 2})
frozenset({5, 6})
frozenset({1, 2, 5, 6})
frozenset({1, 2, 5, 6})
False
False
True
False
False
True