#Type Convertions
    Int : String, Float,
    Float : String, Interger,
    String : Integer, Float, List and tuple,
    List : String, Tuple and Dictionary,
    Tuple : String and Lists,

#Interger
    Strings
    Float

In [3]:
a = 10
print(type(a))
print(a)

b = str(a)
print(b)
print(type(b))

c = float(a)
print(c)
print(type(c))

<class 'int'>
10
10
<class 'str'>
10.0
<class 'float'>

#Float
    String
    Integer

In [9]:
a = 20.75
print(a)
print(type(a))

b = str(a)
print(b)
print(type(b))
print(b[2])
print(b[1])

c = int(a)
print(c)
print(type(c))

20.75
<class 'float'>
20.75
<class 'str'>
.
0
20
<class 'int'>

#Strings
    Integer
    Float

In [25]:
'''
a1 = "10"
print(a1)
print(type(a1))

b1 = int(a1)
print(b1)
print(type(b1))

c1 = float(a1)
print(c1)
print(type(c1))
'''
'''
a2 = "10.42"
print(a2)
print(type(a2))

a2 = float(a2)
print(a2)
print(type(a2))
'''
a1 = "10.45"
print(a1)
print(type(a1))

a2 = list(a1)
print(a2)

a3 = tuple(a1)
print(a3)

a4 = set(a1)
print(a4)

10.45
<class 'str'>
['1', '0', '.', '4', '5']
('1', '0', '.', '4', '5')
{'4', '0', '.', '1', '5'}

#List
    String
    Tuple
    sets

In [39]:
'''
a = [10,20,30]
print(a)
print(type(a))
print(a[0])
'''
'''
b = str(a)
print(b)
print(type(b))
print(b[0])
print(b[-1])
print(b[1])
print(b[2])
print(b[4])
'''
'''
c = tuple(a)
print(c)
print(type(c))
print(c[0])
print(c[-1])
'''
'''
d = set(a)
print(d)
print(type(d))
'''

[10, 20, 30]
<class 'list'>
10
{10, 20, 30}
<class 'set'>

#Tuple
    String
    List
    sets

In [45]:
a = (10,20,30)
print(a)
print(type(a))
print(a[0])
print(a[1])
print(a[2])

'''
b = str(a)
print(b)
print(type(b))
print(b[0])
print(b[1])
print(b[2])
print(b[3])
print(b[4])
print(b[5])
print(b[6])
print(b[7])
print(b[8])
'''
'''
c = list(a)
print(c)
print(type(c))
print(c[0])
print(c[1])
print(c[2])
'''
d = set(a)
print(d)
print(type(d))

(10, 20, 30)
<class 'tuple'>
10
20
30
{10, 20, 30}
<class 'set'>

#Sets
    List
    Tuple
    Strings

In [51]:
a = {10,20,30}
print(a)
print(type(a))

b = list(a)
print(b)
print(type(b))

c = tuple(a)
print(c)
print(type(c))

d = str(a)
print(d)
print(type(d))
print(d[0])
print(d[1])

{10, 20, 30}
<class 'set'>
[10, 20, 30]
<class 'list'>
(10, 20, 30)
<class 'tuple'>
{10, 20, 30}
<class 'str'>
{
1

In [56]:
a = [10,20,30,40,5]
print(a)
print(*a)

[10, 20, 30, 40, 5]
10 20 30 40 5