#DATE & TIME
    1. date
    2. time
    3. datetime
    4. timedelta

#date
    1. today()
        1.1. today().year
        1.2. today().month
        1.3. today().day
    2. date(yyyy,mm,dd)

In [14]:
from datetime import date

temp_date = date(2023,8,24)
print(temp_date)
print(temp_date.year)
print(temp_date.month)
print(temp_date.day)

temp1 = date(2023,8,31)
print(temp1)
temp2 = date(2023,9,30)
print(temp2)
temp3 = date(2023,12,30)
print(temp3)

2023-08-24
2023-08-31
2023-09-30
2023-12-30
2023
8
24

In [16]:
from datetime import date

cur_date = date.today()
print(cur_date)

print(cur_date.year)
print(cur_date.month)
print(cur_date.day)

2025-04-21
2025
4
21

#time
    1. time(hh,mm,ss)
        1.1. time(hh,mm,ss).hour
        1.2. time(hh,mm,ss).minute
        1.3. time(hh,mm,ss).second

In [30]:
from datetime import time

temp_time = time(12,10,11)
print(temp_time)
print(temp_time.hour)
print(temp_time.minute)
print(temp_time.second)

focus = time(23,59,59)
print(focus)

12:10:11
12
10
11
23:59:59

#datetime
    1. datetime.now()
    2. datetime.today()

In [38]:
from datetime import datetime

temp = datetime.today()
print(temp)

print(temp.year)
print(temp.month)
print(temp.day)
print(temp.hour)
print(temp.minute)
print(temp.second)

2025-04-21 06:09:04.941987
2025
4
21
6
9
4

In [42]:
from datetime import datetime

temp = datetime.now()
print(temp)

print(temp.year)
print(temp.month)
print(temp.day)
print(temp.hour)
print(temp.minute)
print(temp.second)

2025-04-21 06:13:55.312691
2025
4
21
6
13
55

#Formatting Date and Time
    1. now.strftime(<format>)
        %Y - Year
        %m - Month
        %d - day
        %H - Hour
        %M - Minute
        %S - Second
    2. datetime.strptime(<date string>,<format>)

In [54]:
from datetime import datetime
temp = datetime.now()
print(temp)

temp1 = datetime.now()
temp2 = temp1.strftime("%Y / %m / %d - %H : %M : %S")
print(temp1)
print(temp2)
temp3 = temp1.strftime("%d/%m/%Y")
print(temp3)
temp4 = temp1.strftime("%H:%M:%S")
print(temp4)
print(temp1.strftime("%Y"))
print(temp1.strftime("%m"))
print(temp1.strftime("%M"))

2025-04-21 06:26:07.008670
2025-04-21 06:26:07.010023
2025 / 04 / 21 - 06 : 26 : 07
21/04/2025
06:26:07
<class 'str'>
2025
04
26

In [60]:
from datetime import datetime
temp = "2023/8/24 12:12:12"
temp1 = datetime.strptime(temp,"%Y/%m/%d %H:%M:%S")
print(temp1)
print(temp1.year)

temp2 = "2023-13-13:13/4/24"
temp3 = datetime.strptime(temp2,"%Y-%H-%M:%S/%m/%d")
print(temp3)
print(temp3.minute)

2023-08-24 12:12:12
2023
2023-04-24 13:13:13
13

#Performing Date Arithmetic

In [73]:
from datetime import timedelta
temp1 = datetime.now()
print(temp1)
temp2 = datetime.now() + timedelta(days = 10)
print(temp2)
temp3 = datetime.now() - timedelta(days = 22)
print(temp3)
temp4 = temp2 - temp1
print(temp4)
temp5 = temp1 - temp2
print(temp5)

2025-04-21 06:47:07.946543
2025-05-01 06:47:07.946699
2025-03-30 06:47:07.946784
10 days, 0:00:00.000156
-11 days, 23:59:59.999844

#Time Module
    1. time.time()
    2. time.sleep(<value>)